@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    text-align: center;
    background-color: beige;
}
#title{
    margin: 0;
    padding-bottom: 0.2em;
}
#img-div{
    margin: 1em 10em;
    background-color: bisque;
}
#image{
    width: 100%;
    height: auto;
}
#tribute-info{
    padding: 1em 20em;
    text-align: justify;
}
h2{
    text-align: center;
}
ul li{
    font-weight: bold;
}
#foot{
    font-weight: bold;
    font-size: 1.2em;
    padding: 1em 0;
    background-color: bisque;
}
#tribute-link{
    text-decoration: none;
}
@media(max-width: 1100px){
    #tribute-info{
        padding: 1em 10em;
    }
}
@media(max-width: 700px){
    #img-div{
        margin: 1em 5em;
    }
    #tribute-info{
        padding: 1em 5em;
    }
}
@media(max-width: 450px){
    #img-div{
        margin: 1em 0.1em;
    }
    #tribute-info{
        padding: 1em 0.1em;
        word-wrap: break-word;
    }
}